strong{
    color: white;
    text-align: center;
    text-indent: 21px;
    text-shadow: 5px 5px 3px black;
    line-height: normal;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: x-large;
}
h1{
    background-color: aqua;
    width: 200px;
    height: 50px;
    text-align: center;
    border:2px solid white;
    box-shadow: 10px 10px 5px red;
    border-radius: 10px;
    border-style: inset;
    border-width: 5px 10px 1px;
}
body{
    background-color: darkgray;
    background-image: url(../img/567.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
.italic{
    font-style: italic;
}
ul{
    list-style-type: circle;
}
a:link{
    background: red;
}
a:hover{
    background: aqua;
}
a:active{
    background: gold;
}
